@import "../../assets/variables";

.headline {
  display: flex;
  align-items: flex-end;
  line-height: 2rem;
  height: 150px;
  :first-child {
    padding-right: 4px;
  }
}

.typist-text {
  background-color: $turquoise;
  padding: 0 4px;
}

.sparkle {
  height: 148px;
  position: relative;
  right: 12px;
  top: 24px;
}

.animateNone {
  opacity: 1;
}

.animateSparkle {
  opacity: 0;
  width: 0;
  animation: showSparkle 0.4s ease 20.5s 1;
  animation-fill-mode: forwards;
}

@keyframes showSparkle {
  0% {
    opacity: 0;
    width: auto;
  }
  100% {
    width: auto;
    display: block;
    opacity: 1;
    visibility: visible;
  }
}

.description-main {
  padding: 24px 0;
}
