/*@import "../../../assets/variables";

.main-content {
  width: 100%;
  margin: auto;
  height: auto;
  flex: 1;
  @media (max-width: $max-width) {
    width: 80%;
  }
}

.headline {
  display: flex;
  align-items: flex-end;
  line-height: 2rem;
  height: 150px;
  > :first-child {
    padding-right: 4px;
  }
  @media (max-width: $max-width) {
    padding-bottom: 8px;
    margin: 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 150px;
  }
}

.description-main {
  display: flex;
  flex-direction: column;
  padding: 24px 0;
  @media (max-width: $max-width) {
    padding-bottom: 0;
  }
}
*/
