@import "../../assets/variables";

.contact {
    display: flex;
    flex-direction: column;
    padding-bottom: 24px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    max-width: 560px;
    label {
        margin-bottom: 8px;
    }
    input, textarea {
        margin-bottom: 16px;
        padding: 8px;
        font-size: 14px;
        line-height: 1.2rem;
        border: 2px solid black;
        border-radius: 0;
        box-shadow: none;
        &:focus {
            border: 2px solid black;
            outline: $turquoise solid 2px;
        }
    }
    button {
        width: fit-content;
        cursor: url('../../assets/icons8-sparkler-48.png'), auto;
    }
}

.error {
    color: tomato;
    font-size: .8rem;
    font-weight: bold;
    padding-left: 8px;
}

.submission-error {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
    border: tomato 2px solid;
    box-shadow: $shadow -4px 4px;
    margin: 16px;
    max-width: 400px;
    padding: 16px;
    h4 {
        margin: 8px;
    }
    p, a {
        font-size: 14px;
        text-align: center;
        margin: 4px;
    }
    a {
        font-family: $normal;
        font-weight: bold;
background-color: $turquoise;
padding: 2px 4px;
}}

.consent, .consent a {
    font-size: 10px;
}