.contact {
    display: flex;
    flex-direction: column;
}

.contact-form {
    display: flex;
    flex-direction: column;
    max-width: 560px;
    label {
        margin-bottom: 8px;
    }
    input, textarea {
        margin-bottom: 16px;
        padding: 8px;
        font-size: 14px;
        line-height: 1.2rem;
        border: 2px solid black;
        border-radius: 0;
        box-shadow: none;
        &:focus {
            border: 2px solid black;
            outline: #5eefcb solid 2px;
        }
    }
    button {
        width: fit-content;;
    }
}

.error {
    color: tomato;
    font-size: .8rem;
    font-weight: bold;
    padding-left: 8px;
}

.submission-error {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
    border: tomato 2px solid;
    box-shadow: #d1d0d0 -4px 4px;
    margin: 16px;
    max-width: 400px;
    padding: 16px;
    h4 {
        margin: 8px;
    }
    p, a {
        font-size: 14px;
        text-align: center;
        margin: 4px;
    }
    a {
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
background-color: #5eefcb;
padding: 2px 4px;
}}