.headerContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: auto;
  max-width: 1024px;
}

.headerName {
  padding: 0 48px;
  margin: 0;
}

.link {
  font-family: 'Montserrat Subrayada', sans-serif;
  line-height: 10px;
  transition: all 0.5s ease;
  &:hover {
    box-shadow: 0 5px 0 #5eefcb;
    transition: all 0.5s ease;
  }
}
