@import "../../assets/variables";

.headerContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-bottom: 1px solid black;
  height: 100px;
  padding: 16px 0;
}

.headerName {
  padding: 4px 48px;
  margin: 0;
  font-size: 48px;
}

.link {
  font-family: $fancy;

  &:hover {
    .link-underline {
      width: calc(100% + 11px);
    }
  }
}

.link-underline {
  position: relative;
  transition: all 0.3s ease;
  width: 0;
  left: -5px;
  top: -8px;
  height: 8px;
  z-index: -1;
  background-color: $turquoise;
}

.headline {
  display: flex;
  align-items: flex-end;
  line-height: 2rem;
  height: 150px;
  :first-child {
    padding-right: 4px;
  }
}
