@import "../../assets/variables";

.headerContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-bottom: 1px solid black;
  min-height: 100px;
  padding: 16px 0;
  @media (max-width: $max-width) {
    min-height: 200px;
    padding: 24px 0;
    margin-bottom: 20px;
  }
  }

.headerName {
  padding: 4px 48px;
  margin: 0;
  font-size: 48px;
  text-align: center;
  @media (max-width: $max-width) {
text-align: left;
padding: 0;
  }
}

.link {
  font-family: $fancy;
  &:hover {
    .link-underline {
      width: calc(100% + 11px);
    }
  }
  @media (max-width: $max-width) {
    display: none;
  }
}

.link-underline {
  position: relative;
  transition: all 0.3s ease;
  width: 0;
  left: -5px;
  top: -8px;
  height: 8px;
  z-index: -1;
  background-color: $turquoise;
  @media (max-width: $max-width) {
    width: calc(100% + 11px);
  }

}

.headline {
  display: flex;
  align-items: flex-end;
  line-height: 2rem;
  height: 150px;
  :first-child {
    padding-right: 4px;
  }
}

.mobile-menu {
  display: none;
  font-family: $fancy;
  @media (max-width: $max-width) {
    display: flex;
    justify-content: space-around;
    margin-bottom: 48px;
  }
}

