.contact-typ-container {
  margin: 24px 0;
  display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
    border: #5eefcb 2px solid;
    box-shadow: #d1d0d0 -4px 4px;
    max-width: 400px;
    padding: 24px;
    h3 {
        margin: 8px;
    }
    p {
      margin: 4px;
    }
}

.message-bottle-icon {
  margin-left: 16px;
}
