@import "../../assets/variables";

.footer {
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  bottom: 0;
  height: $footer-height;
  padding: 16px;
  font-size: 14px;
  width: 100%;
  margin: auto;
  margin-top: 24px;
  background-color: white;
  @media (max-width: $max-width) {
    width: 100%;
    span {
      max-width: 120px;
    }
  }
  a {
    font-size: 14px;
  }
}

.contact-footer {
  justify-self: center;
}

.socials-footer {
  width: 226px;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  a {
    display: flex;
   align-items: center;
   padding-left: 8px;
}
@media (max-width: $max-width) {
width: 140px;
}
}

.social-icon-footer {
  width: 20px;
}
