//colors
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&family=Montserrat:wght@400;700&display=swap');

$turquoise: #5eefcb;
$shadow: #d1d0d0;

//screen sizes (max width to mobile styling up to tablet width)
$max-width: 767px;

//fonts
$normal: "Montserrat", sans-serif;
$fancy: "Montserrat Subrayada", sans-serif;